/*css styles*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

#category-bar {
	font-size: 30px;
}

.nav-btn {
	background-color: #212529;
	border: none;
	color: rgba(255, 255, 255, 0.55);
	display: block;
	font-size: 1rem;
}
a.nav-item {
	text-decoration: none;
}
.nav-icon-description {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.55);
	font-size: 1rem;
}
.navbar-toggler {
	padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

/* Add in media queries that make the login and regidster buttons look like links when in expanded mode! */

/* 
X-Small	None	<576px
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
Extra extra large	xxl	≥1400px 
*/

@media (min-width: 768px) {
	nav {
		border: none;
	}
	.navbar-secondary {
		height: 30px;
		border: none;
	}
	.nav-btn {
		width: 80px;
		display: inline-block;
	}
	.btn-login {
		color: #fff;
		background-color: #dc3545;
		border-color: #dc3545;
	}
	.btn-register {
		color: #fff;
		background-color: #6c757d;
		border-color: #6c757d;
	}
	#carousel-main {
		align-content: center;
		width: 75%;
		margin: 0 auto;
	}
	#productSearchList {
		text-overflow: ellipsis;
	}
}
